<template>
    <div class="modal" :class="openmodal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
            <p class="modal-card-title">Update a blog</p>
            <button class="delete" aria-label="close" @click="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="container">
                    <div class="field">
                        <label class="label">Blog Title</label>
                        <div class="control">
                            <input class="input" :class="{'is-danger':errors.title}"  type="text" placeholder="Title" v-model="list.title">
                        </div>
                        <small class="has-text-danger" v-if="errors.title">{{ errors.title[0] }}</small>
                    </div>

                    <div class="field">
                        <label class="label">Blog Body</label>
                        <div class="control">
                            <textarea class="textarea" :class="{'is-danger':errors.body}" placeholder="Blog" v-model="list.body"></textarea>
                        </div>
                        <small class="has-text-danger" v-if="errors.body">{{ errors.body[0] }}</small>                        
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
            <button class="button is-success" @click="update">Update</button>
            <button class="button" @click="close">Cancel</button>
            </footer>
        </div>
    </div>
</template>


<script>
export default {
    props: ['openmodal'],

    data() {
        return {
            list:{},
            errors:{}
        }
    },

    methods: {
        update() {
            axios.patch(`/blog/${this.list.id}`,this.$data.list).then((response) => this.close())
            .catch((error) => this.errors = error.response.data.errors)
        },
        close() {
            this.$emit('closeRequest')
        }
    }
}
</script>
