<template>
    <div class="modal" :class="openmodal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
            <p class="modal-card-title">Add a New Blog</p>
            <button class="delete" aria-label="close" @click="close"></button>
            </header>    
            <section class="modal-card-body">
                <div class="container">
                    <small class="has-text-success" v-if="success.successMsg">{{ success.successMsg }}</small>
                    <div class="field">
                        <label class="label">Blog Title</label>
                        <div class="control">
                            <input class="input" :class="{'is-danger':errors.title}" type="text" placeholder="Title" v-model="list.title">
                        </div>
                        <small class="has-text-danger" v-if="errors.title">{{ errors.title[0] }}</small>
                    </div>

                    <div class="field">
                        <label class="label">Blog Body</label>
                        <div class="control">
                            <textarea class="textarea" :class="{'is-danger':errors.body}" placeholder="Blog" v-model="list.body"></textarea>
                        </div>
                        <small class="has-text-danger" v-if="errors.body">{{ errors.body[0] }}</small>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
            <button class="button is-success" @click="save">Save</button>
            <button class="button" @click="close">Cancel</button>
            </footer>
        </div>
    </div>
</template>


<script>
export default {
    props: ['openmodal'],

    data() {
        return {
            list:{
                title: '',
                body: '',
            },
            errors:{},
            success:{}
        }
    },

    methods: {
        save() {
            axios.post('/blog',this.$data.list).then((response) => {                
                this.list=''
                this.success = response.data
                this.close()
                
            })
            .catch((error) => this.errors = error.response.data.errors)
        },
        close() {
            this.$emit('closeRequest')
        }
    }
}
</script>
