<template>

    <div>
        <nav class="navbar" role="navigation" aria-label="main navigation" style="border:1px solid #ddd;">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        <router-link to="/">Home</router-link>
                    </a>
                    <a class="navbar-item">
                        <router-link to="/bloglist">Update/Delete</router-link>
                    </a>               
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" @click="openAdd">
                                Add Post
                            </a>                            
                            <a class="button is-light">
                                <router-link to="/registration">Registration</router-link>                                
                            </a>
                            <a class="button is-light">
                                <router-link to="/login">Log In</router-link>    
                            </a>                           
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <Blogadd :openmodal="addActive" @closeRequest="close"></Blogadd>
    </div>

</template>



<script>
export default {
    data(){
        return{
            addActive: ''
        }
    },
    methods: {
        openAdd() {
            this.addActive = 'is-active';
        },
        close() {
            this.addActive = ''
        }

    }
}
</script>
