<template>
    <div class="modal" :class="openmodal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
            <p class="modal-card-title">Details</p>
            <button class="delete" aria-label="close" @click="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="container">                    
                    <h2 class="subtitle">
                        {{ list.title }}
                    </h2>
                    <p>
                        {{ list.body }}
                    </p>
                </div>
                <div class="notification" v-for="item in lists">  
                    {{ item.comment }}
                </div>
                <a class="button is-primary is-small" @click="showComment">show comment</a>
            </section>            
            <footer class="modal-card-foot">            
                <div class="field">                    
                    <div class="control">
                        <input class="input is-primary is-medium" v-model="cList.comment" type="text" placeholder="Comment...">
                    </div>                    
                </div>
                <a class="button is-primary" @click="comment" v-model="cList.id=list.id">Comment</a>
                <small class="has-text-success" v-if="success.successMsg">{{ success.successMsg }}</small>
            </footer>
        </div>
    </div>
</template>


<script>
export default {
    props:['openmodal'],

    data() {
        return{
            list: '',
            blogId:'',
            cList:{
                comment:''
            },
            errors:{},
            success:{},
            lists: {}
        }
    },

    methods: {

        close() {
            this.$emit('closeRequest'); 
            this.blogId = ''           
        },

        showComment(){
            let blogId = this.$data.cList.id;
			axios.post('/getComment/'+blogId)
			.then((response)=> {
                this.lists = this.temp = response.data
                this.blogId = ''
            })
            .catch((error) => this.errors = error.response.data.errors)            
        },

        comment() {
            axios.post('/comment',this.$data.cList).then((response) => {                
                this.cList.comment=''                
                this.success = response.data
                // this.close()
                
            })
            .catch((error) => this.errors = error.response.data.errors)
        },        

    }


}
</script>
