<template>

    <div>
        <section class="section" v-for="item,key in lists">
            <div class="container">
            <a @click="openShow(key)">
                <h1 class="title">{{ item.title }}</h1>
                <h2 class="subtitle">
                    <!-- {{ item.body }} -->
                    {{ getPostBody(item) }}
                </h2>
            </a>
            <small class="has-text-primary">Posted {{ item.created_at }}</small>
            </div>         
        </section>

        <Blogdetails :openmodal="showActive" @closeRequest="close"></Blogdetails>        

    </div>


</template>


<script type="text/javascript">
    export default{
        data() {
            return {
                lists: {},
                errors: {},
                showActive: ''
            }
        },
        mounted(){
			axios.post('/getBlog')
			.then((response)=> this.lists = this.temp = response.data)
			.catch((error) => this.errors = error.response.data.errors)
        },
        methods: {
        getPostBody (post) {
            let body = this.stripTags(post.body);

            return body.length > 300 ? body.substring(0, 200) + '...' : body;           
        },

        stripTags (text) {
            return text.replace(/(<([^>]+)>)/ig, '');
        },

        openShow(key) {
            this.$children[0].list = this.lists[key];
            this.showActive = 'is-active';
        },
        
        close() {
            this.showActive = ''
        }
    }
    }
</script>