<template>

    <div>
        <section class="section" v-for="item,key in lists">
            <div class="container">
            <a>
                <h1 class="title">{{ item.title }}</h1>
                <h2 class="subtitle">
                    <!-- {{ item.body }} -->
                    {{ getPostBody(item) }}
                </h2>
            </a>

            <a class="button is-primary" @click="openUpdate(key)">Update</a> | 
            <a class="button is-danger" @click="del(key,item.id)">Delete</a>

            </div>         
        </section>

        <Blogupdate :openmodal="updateActive" @closeRequest="close"></Blogupdate> 
           
    </div>


</template>


<script type="text/javascript">
    export default{
        data() {
            return {
                lists: {},
                errors: {},
                updateActive: ''

            }
        },
        mounted(){
			axios.post('/getBlog')
			.then((response)=> this.lists = this.temp = response.data)
			.catch((error) => this.errors = error.response.data.errors)
        },
        methods: {
        getPostBody (post) {
            let body = this.stripTags(post.body);

            return body.length > 300 ? body.substring(0, 200) + '...' : body;           
        },

        stripTags (text) {
            return text.replace(/(<([^>]+)>)/ig, '');
        },

        openUpdate(key) {
            this.$children[0].list = this.lists[key];
            this.updateActive = 'is-active';
        },
        
        close() {
            this.updateActive = ''
        },

        del(key,id) {
            if(confirm("Are you sure..?")) {               
                axios.delete(`/blog/${id}`)
                .then((response)=> this.lists.splice(key,1))
                .catch((error) => this.errors = error.response.data.errors)
            }
        }

    }
    }
</script>




