<template>
        <section class="section">
            <div class="container">

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" :class="{'is-danger':errors.email}" type="text" placeholder="Email" v-model="list.email">
                    </div>
                    <small class="has-text-danger" v-if="errors.email">{{ errors.email[0] }}</small>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" :class="{'is-danger':errors.password}" type="password" placeholder="Password" v-model="list.password">
                    </div>
                    <small class="has-text-danger" v-if="errors.password">{{ errors.password[0] }}</small>
                </div>
        
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link" @click="save">Submit</button>
                    </div>
                </div>
            </div>
    </section>
    
    </template>
    
    
    
    <script type="text/javascript">
        export default{
            data() {
                return {
                    list:{
                        email: '',
                        password: ''
                    },
                    errors:{}
                }
            },
            methods:{
                save() {
                    axios.post('/login',this.$data.list).then((response) => console.log(response))                    
                    .catch((error) => this.errors = error.response.data.errors)
                }
            }
        }
    </script>